flask==2.0.1
flask-fontawesome==0.1.5
flask-socketio==4.3.2
flask-wtf==0.15.1
jinja2==3.0.1
markupsafe==2.0.1
wtforms==2.3.3
werkzeug==2.0.1
bidict==0.21.3
click==8.0.1
flask-simplelogin==0.1.0
itsdangerous==2.0.1
pip==20.2.4
psutil==5.8.0
py-cpuinfo==8.0.0
python-engineio==3.14.2
python-socketio==4.6.1
setuptools==49.6.0
six==1.16.0
tailhead==1.0.2