<!DOCTYPE html>
<head>
    {{ fontawesome_html() }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static',     filename='favicon.ico') }}">
    <title>Mycroft Remote Services Dashboard</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/bootstrap.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/log.css') }}">
    <script src="{{ url_for('static',     filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',     filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',     filename='js/dashlog.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
            function changeFrame(ftype){
                var el = document.getElementById('bus_frame');
                displayed_type = el.contentDocument.body.id
                $.post("{{ url_for('logging_close_log') }}", { d_type: displayed_type },
                function(data) {
                   console.log( "cleanly closing log service for:" + displayed_type);
                }, "json");
                if(ftype == "bus"){
                    el.src = "{{ url_for('show_bus_log') }}"
                } else if (ftype == "audio"){
                    el.src = "{{ url_for('show_audio_log') }}"
                } else if (ftype == "voice"){
                    el.src = "{{ url_for('show_voice_log') }}"
                } else if (ftype == "skills"){
                    el.src = "{{ url_for('show_skills_log') }}"
                } else if (ftype == "enclosure"){
                    el.src = "{{ url_for('show_enclosure_log') }}"
                } else {
                    console.log("Got an invalid log id in exit")
                }
            }

    </script>
    <!-- Custom styles for this template -->
    <!-- <link href="narrow-jumbotron.css" rel="stylesheet"> -->
</head>
<body>
<div class="header clearfix">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Remote Services Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Dashboard</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/logging">Logging <span class="sr-only">(current)</span></a>
                </li>
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/docs/rs/introduction">Documentation</a>-->
<!--                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="/skills-settings">Skills Settings</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container-fluid cHue">
    <!-- Sidebar -->
    <div class="row cHue">
        <div class="col-sm-3 cQue">
            <div class="card border-warning">
                <div class="card-header">
                    <h5>Mycroft Service Logs</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush" id="sidebarul">
                        <li class="list-group-item">
                            <a href="#" class="nav-link navactive" onclick=changeFrame("bus")>Mycroft Messagebus</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="nav-link" onclick=changeFrame("skills")>Mycroft Skills</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="nav-link" onclick=changeFrame("audio")>Mycroft Audio</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="nav-link" onclick=changeFrame("voice")>Mycroft Voice</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="nav-link" onclick=changeFrame("enclosure")>Mycroft Enclosure</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div class="col-sm-9 cQue align-top">
            <div class="card border-warning cHue">
                <div class="card-header">
                    <h4> Live Log </h4>
                </div>
                <div class="card-body">
                    <iframe id="bus_frame" class="iframe-c" src="{{ url_for('show_bus_log') }}"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <br>
    <footer class="footer">
        <p>Copyright © 2021 by OpenVoice OS</p>
    </footer>
</div>
</body>
</html>
