<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Documentation</title>
      <!-- Bootstrap core CSS -->
      <link rel="icon" href="{{ url_for('static',     filename='favicon.ico') }}">
      <link rel="stylesheet" href="{{ url_for('static',     filename='css/bootstrap.css') }}" media="screen">
      <!-- Documentation extras -->
      <link rel="stylesheet" href="{{ url_for('static',     filename='css/docsearch.min.css') }}" media="screen">
      <link rel="stylesheet" href="{{ url_for('static',     filename='css/docs.min.css') }}" media="screen">
      <link rel="stylesheet" href="{{ url_for('static',     filename='css/framed.css') }}" media="screen">
      <script src="{{ url_for('static',     filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static',     filename='js/popper.min.js') }}"></script>
      <script src="{{ url_for('static',     filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static',     filename='js/docsearch.min.js') }}"></script>
      <script src="{{ url_for('static',     filename='js/docs.min.js') }}"></script>
   </head>
   <body>
      <header class="header clearfix">
         <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Remote Services Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                     <a class="nav-link" href="/">Dashboard</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/logging">Logging</a>
                  </li>
                  <li class="nav-item active">
                     <a class="nav-link" href="/docs/rs/introduction">Documentation <span class="sr-only">(current)</span></a>
                  </li>
               </ul>
            </div>
         </nav>
      </header>
      <div class="container-fluid">
         <div class="row flex-xl-nowrap">
            <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
               <form class="bd-search d-flex align-items-center">
                  <h4 type="search" class="card-header bg-warning" id="search-input">Topics Of Interest</h4>
                  <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation">
                     <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="30" height="30" focusable="false">
                        <title>Menu</title>
                        <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/>
                     </svg>
                  </button>
               </form>
               <nav class="collapse bd-links" id="bd-docs-nav">
                  <div class="bd-toc-item active">
                     <a class="bd-toc-link" href="">
                        <h5> Mycroft Remote Services </h5>
                     </a>
                     <ul class="nav bd-sidenav">
                        <li class="active bd-sidenav-active">
                           <a href="/docs/rs/introduction">
                           Introduction & Getting Started
                           </a>
                        </li>
                        <li>
                           <a href="/docs/rs/connection-guide">
                           Remote Connection Guide
                           </a>
                        </li>
<!--                        <li>-->
<!--                           <a href="/docs/rs/dashboard-guide">-->
<!--                           Dashboard Guide-->
<!--                           </a>-->
<!--                        </li>-->
                     </ul>
                  </div>
               </nav>
            </div>
            <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
               <h4 class="bd-title">Introducing Remote Services Container<br></h4>
               <p class="bd-lead">Mycroft Remote Services is a docker container consisting of Mycroft Core, Apache and Remote Services Dashboard, It aims to provide users with a turnkey solution for getting Mycroft running on your remote device instantly.</p>
               <p class="bd-lead">This docker container runs Mycroft Core as a service inside its own environment and currently only provides a method to talk to the Core and GUI messagebus and Mycroft Skills interface for remote applications like Mycroft-GUI, This container does not support remote STT, TTS features. The container is highly aimed at devices running Mycroft GUI application on Android which provides its own inbuilt speech-to-text and text-to-speech services.</p>
               <hr>
               <div class="alert alert-dismissible alert-danger">
                  <h4 class="alert-heading">You Have Been Warned: <br></h4>
                  <p class="mb-0"><i>Mycroft Core Remote Services have no built-in security measures by default. We strongly recommend that you
                     do not expose the services and ports outside a secure LAN/PAN unless you
                     have other security measures in place.</i>
                  </p>
               </div>
            </main>
         </div>
         <br>
         <footer class="footer">
            <p>Copyright © 2020 by Aditya Mehra &lt;aix.m@outlook.com&gt;</p>
         </footer>
      </div>
   </body>
</html>

