<!DOCTYPE html>
<html id="skills_log_html">
    <head>
        {{ fontawesome_html() }}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../../../favicon.ico">
        <title>Mycroft Remote Services Dashboard</title>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{{ url_for('static',     filename='css/bootstrap.css') }}" media="screen">
        <link rel="stylesheet" href="{{ url_for('static',     filename='css/log.css') }}">
        <script src="{{ url_for('static',     filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static',     filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static',     filename='js/sockets/socket.io.js') }}"></script>
        <script type="text/javascript" charset="utf-8">
            var socket = null;
            $(document).ready(function(){
            socket = io.connect('http://' + document.domain + ':' + location.port)
            socket.emit('connect_event', {data: {"from": "skills"}});
            socket.on('my_response', function(msg, cb){
                console.log(msg)
                $("#skills_log_frame").append('<p>' + msg.data + "</p>")
                setTimeout('location.hash="#atop"', 150);
            })
            })
        </script>
        <!-- Custom styles for this template -->
        <!-- <link href="narrow-jumbotron.css" rel="stylesheet"> -->
    </head>
    <body id="skills" class="bg-dark">
        <div id="skills_log_frame" class="scrollit border-info">
        </div>
    <a name="atop"></a>
    </body>
</html>
